/* Set a style for all elements inside the header i.e. Sign Up button, Sign In button, 
the title "ScriBBler" & the sub-heading below "ScriBBLer" */

/* Set a style for the rest of the elements besides the header elements on the index.html page */
input.input-group1, textarea.input-group1{
    background-color: #e6e6e6;
}
.header{
    color: #005cbf;
}
.header-logo {
    display: flex;
    flex-direction: column;
}
.topButtons {
    float: right;
    background-color: blue;
    color: aliceblue;
    border: 0px;
}
#pageTitle {
    font-family: 'Satisfy', cursive;
}
#subheading  {
    font-family: 'Marck Script', cursive;
    color: #000000;
    font-size: .67em;

}
#btn-sign-up{
    margin-left: 12px;
}
#signUpDiv {
    text-align: center;
}
.postButtons {
    text-align: center;
    margin-top: 15%;
}
.post-btn {
    font-weight: bold;
    background-color: #D9CB00;

}
