body{
   background: url('background.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center center;
   background-size: cover;
   margin: 0 !important;
   background-size: 100% cover!important;
   overflow:hidden;
   display: block;
} 

/* Set a style for the rest of the elements besides the header elements on the index.html page */
.form-control{
    background-color: lightgray;
}
.header{
    color: #005cbf;
}
.header-logo {
    display: flex;
    flex-direction: column;
}
.topButtons {
    float: right;
    background-color: blue;
    color: aliceblue;
    border: 0px;
}
#pageTitle {
    font-family: 'Satisfy', cursive;
}
#subheading  {
    font-family: 'Marck Script', cursive;
    color: #000000;
    font-size: .67em;

}
#btn-sign-up{
    margin-left: 12px;
}
#signUpDiv {
    text-align: center;
}
.postButtons {
    text-align: center;
    margin-top: 15%;
}
.post-btn {
    font-weight: bold;
    background-color: #D9CB00;

}